<!-- your html code here -->
<div class="container-fluid mx-5">
    <div class="row align-items-center">
        <div class="col-md-8 ps-10">
            <h1>What is Love?</h1>
            <p>Baby don't hurt me...woah woah No more ways for us to play. I just want to saaaaaaay that maybe we can do the things that elephants do. When they skip and climb on trees. Baby please fly me to the moon let me play among the start, let me see what life is like is like on Jupiter and Mars! </p>
        </div>
        <div class="col-md-4 text-end pe-10">
            <img src="https://st2.depositphotos.com/3758943/6040/i/600/depositphotos_60400957-stock-photo-the-man-in-the-office.jpg" 
                alt="Profile Image" class="img-fluid rounded-circle" style="max-height: 400px; max-width: 400px;">
        </div>
    </div>
</div>

